@font-face {
  font-family: 'MyWebFont';
  src: url('font.ttf') format('truetype');
}

h1 {
font-family: "MyWebFont";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

body {
  background-image: url('gif.gif');
  background-size: cover;



  height: 100vh;
  padding:0;
  margin:0;
}
