@font-face {
  font-family: 'Arial';
  src: url('font.ttf') format('truetype');
}

body {
  background-image: url('stone.png');
  margin: auto;

}


.menu {
  background-image: url('dirt.png');
  padding-right: 350px;
}

.menu img {
  padding-bottom: 2px;
  padding-left: 400px;
  margin: auto;
}

.menu a {
  vertical-align: middle;
  text-align: center;
  font-family: "Arial";
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  padding-bottom: 49px;

}
