@font-face {
  font-family: 'Arial';
  src: url('stuff/font.ttf') format('truetype');
}
@font-face {
  font-family: 'ArialThin';
  src: url('stuff/arial.ttf') format('truetype');
}

body {
  background-image: url('stuff/stone.png');
  margin: auto;
  position: relative;
}


.menu {
  background-image: url('stuff/dirt.png');

}

.menu img {
  padding-bottom: 2px;
  padding-left: 10px;
  margin: auto;
}

.menu a {
  vertical-align: middle;
  text-align: center;
  font-family: "Arial";
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  padding-bottom: 45px;

}

.menu b {
  vertical-align: middle;
  text-align: center;
  font-family: "Arial";
  font-size: 16px;
  color: #99a1ec;
  text-decoration: none;
  padding: 5px;
  padding-bottom: 45px;

}

.menu c {
  vertical-align: middle;
  text-align: center;
  font-family: "Arial";
  font-size: 16px;
  color: #99a1ec;
  text-decoration: none;
  padding-left: 300px;
  padding-bottom: 40px;

}


.ytvid {
  height: 450px;
  width: 630px;
  display: inline-grid;
  margin-left: 10%;
  margin-top: 100px;
}

.ytvid h6 {
  font-family: "ArialThin";
  font-size: 12px;
  color: #dececf;
  text-decoration: none;
  margin-left: 10px;
}

.downloads {
  height: 0px;
  width: 0px;
  display: inline-grid;
  margin-left: 10%;
  padding-top: 5%;
  padding-left: 170px;


}


.downloads a {
  vertical-align: middle;
  text-align: center;
  font-family: "Arial";
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 250px;
  background-color: orange;
  padding: 15px;
  border-radius: 5px;
}

.updates {
  height: 5vh;
  width: 50vw;
  margin-left: 25%;
  margin-bottom: 50px;
}

.updates h1 {
  vertical-align: middle;
  text-align: center;
  font-family: "Arial";
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;



}

.updates h6 {
  font-family: "ArialThin";
  font-size: 12px;
  color: #dececf;
  text-decoration: none;

}

.downloads img {
  margin-bottom: 50px;
  padding-bottom: 40px;
}

* {
  position: relative;
}
