body h1 {
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  background-color: black;
}
