@font-face {
  font-family: 'MyWebFont';
  src: url('font.ttf') format('truetype');
}

p {
font-family: "MyWebFont";
position: absolute;
top: 50%;
left: 50%;

transform: translate(-50%, -50%);
color: red;
display: inline-block;
animation: color-change 0.5s infinite, 1s shake infinite;
}

body {
  background-image: url('gif.gif');
  background-size: cover;



  height: 100vh;
  padding:0;
  margin:0;
}

@keyframes color-change {
  0% { color: red; }
  10% { color: white; }
  20% { color: red; }
}

@keyframes shake {
  0% { transform: translate(-50%, -47%); }
  5% { transform: translate(-49%, -48%); }
  10% { transform: translate(-47%, -49%); }
  20% { transform: translate(-48%, -47%); }
  100% { transform: translate(-47%, -49%); }
}
