body h1 {
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body h2 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  position: fixed;

}
body {
  background-image: url('bg.gif');
  background-size: cover;

  height: 100vh;
  padding:0;
  margin:0;
}
