body {
  background-color: #000000;
}

.command {
   color: #00ff00;
   font-family: 'Noto Sans Mono', monospace;

}


body small {
  color: #ffffff;
  font-family: 'Noto Sans Mono', monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
  typing 3.5s steps(60, end);
}

body h2 {
  color: #ffffff;
  font-family: 'Noto Sans Mono', monospace;
  letter-spacing: .15em; /* Adjust as needed */
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #ffffff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
.blinking-cursor-smol {
  font-weight: 100;
  font-size: 18px;
  color: #ffffff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes "come" {
  from, to {
    color: transparent;
  }
  100% {
    color: white;
  }
}
@-moz-keyframes come {
  from, to {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes "come" {
  from, to {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@-ms-keyframes "come" {
  from, to {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@-o-keyframes "come" {
  from, to {
    color: transparent;
  }
  100% {
    color: white;
  }
}
